.big-font 
{
font-size:10px !important;
}

label
{
font-size:14px!important
}

.stDataFrame
{
margin:0 50%
}

img{
max-width: 70%!important;
margin-left: 15%!important;
} 

img.profile{
max-width: 1000%!important;
margin-left: 0%!important;
}

h2
{
text-align:center
}

div.banner 
{
height: 15px;
background-image: linear-gradient(to right, #849de2 , #2196f3);
} 
.profile-rail-card__member-bg-image 
{
    background-position: center;
    background-size: cover;
    display: block;
    height: 0px;
    margin: -12px -12px 0;
}

.autor{background:whitesmoke;padding:20px}

.profile-rail-card__actor-meta 
{
    border-bottom: 1px solid rgba(0,0,0,.15);
    padding: 0;
}

.theme--mercado .profile-rail-card__actor-meta 
{
    border-bottom-color: var(--color-border-faint);
}
.sn{
display:grid; 
}